@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Limelight&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #778DA9;
  --secondary-color: #415A77;
  --accent1-color: #1B263B;
  --accent2-color: #0D1B2A;

  /* change the values below to your chosen font(s) */
  --heading-font: "Limelight";
  --paragraph-font: 'Alan Sans', Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #778DA9;  /* headlines on a white background */ 
  --headline-color-on-color: #E0E1DD; /* headlines on a colored background */ 
  --paragraph-color-on-white: #778DA9; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #E0E1DD; /* paragraph text on a colored background */ 
  --paragraph-background-color: #778DA9  ;
  --nav-link-color: #778DA9;
  --nav-background-color: #1B263B;
  --nav-hover-link-color: #E0E1DD;
  --nav-hover-background-color: #396E94;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

#content 
{
    margin: 0 auto;
}
nav {
  background-color: var(--nav-background-color);
  line-height: 2em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  display: flex;
  justify-content: space-around;
}
nav a
{
    color: var(--headline-color-on-color);
    text-decoration: none;
    text-align: center;
    border: #0D1B2A 3px;
    font-family: var(--heading-font);
    padding:1em;
    min-width: 120px;
    padding: 35px;
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}

#hero-msg h1, #hero-msg h4
{
    text-align: center;
}

#hero-msg 
{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.button-box 
{
    text-align: center;
}

main section 
{
    text-align: center;
}

body {
    background-color: #778DA9; 
    margin: 0;
    padding: 0;
}
h2 
{
    margin: 0;
}
header {
    padding: 1em;
    color: var(--headline-color-on-color);
    background-color: #1B263B;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #0D1B2A;
    color: white;
}

.book 
{
    color: #E0E1DD;
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join 
{
    color: #778DA9;
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover 
{
    background-color: rgba(20,30,13, .7);
    color: white;
}
#background 
{
    height: 725px;
    background-color: #415A77;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg 
{
    background-color:#1B263B;
    color: white;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}
footer 
{
    background-color:#1B263B;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.msg h2 
{
    text-align: center;
}
.msg p 
{
    text-align: center;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a 
{
    color: white;
}
footer a:hover 
{

    color: white;
    background-color: #0D1B2A;
}
.home-title 
{
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}
h4 
{
    text-align: center;
}
.logo 
{
    width: 80px;
}
footer p 
{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}
div 
{
    max-width: 1600px;

}
#hero-img 
{
    width: 100%;
}

#logo_link 
{
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon 
{
    padding-top: 10px;
}

footer .social img 
{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card 
{
    margin: 200px 0;
}

.card-img, .mountains
{
    border: 10px solid #0D1B2A;
    width: 100%;
}

main section img 
{
    box-sizing: border-box;
}


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.rivers-card 
{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card 
{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card 
{
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains 
{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #1B263B;
}
.msg 
{
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #1B263B;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #1B263B;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
             
 .home-grid 
 {
    display: grid;
    grid-template-columns: 10;
 }